* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
.cantainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #ffffff;
  margin: 0.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: -0.4rem 0.4rem 0.6rem 0.4rem rgba(0, 0, 0, 0.579);
}
.Sidebar h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.4rem;
}
.AddNewWorker {
  padding: 0.7rem;
  background-color: gray;
  color:white;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0.1rem solid rgb(111, 195, 111);
  cursor: pointer;
  transition: 0.5s;
}
.AddNewWorker:hover {
  background-color: rgb(111, 195, 111);
  border: 0.1rem solid grey;
  color: white;
}
.fls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.outzone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.8rem;
  width: 100%;
}
.principalediv{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #0000002c;
  border-radius: 1rem;
  box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.579);
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.modiffier:hover {
  color: white;
  background-color: #f36608;
}

.supprimer:hover {
  color: white;
  background-color: #ad0a0a;
}
.personnelcard {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.personnelcard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.personnelcard span {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  background-color: #88888834;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  width: 100%;
    font-weight: 200;
transition: 0.5s;
}
.personnelcard span:hover {
  color: white;
  background-color: #888;
}
.personnelcard p {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-weight: 300;
  border-radius: 2rem;
}
.prsnNR{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.personnelinfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
}
.personnelinfo img {
  width:200px;
  height:200px;
  border-radius:2rem;
  object-fit: cover;
}
.personnelinfo span {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  width: 100%;
  font-weight: 200;
}
.personnelinfo p {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-weight: 300;
  border-radius: 2rem;
}
.forminfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: auto;
  max-height: 70vh;
  padding-right: 15px;
}
.info1line{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}



.divpersonne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #0000005c;
  width: 90%;
  border-radius: 1rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
}
.personnelcardzone {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
}
.personnelcardzone img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.personnelcardzone span {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
}











.MainArea {
  margin: 0.5rem 0.5rem;
  width: 75%;
  height: 95vh;
  background-image: url("./workspace.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: -0.4rem 0.4rem 0.6rem 0.4rem rgba(0, 0, 0, 0.579);
}
.ajtmain {
  background-color: rgb(111, 195, 111);
  border: solid white 0.1rem;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.8rem 0.8rem;
}

.ajtmain:hover {
  color: rgb(111, 195, 111);
  background-color: white;
}
.chambre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid black 1rem;
  max-height: 500px;
  overflow-y: auto;
}
.chambre::-webkit-scrollbar {
  width: 0.5rem;
}

.chambre::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chambre::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.Sreception {
  grid-column: 1/6;
  grid-row: 2/4;
}
.Sconfrence {
  grid-column: 1/6;
  grid-row: 1;
}
.Spersonnel {
  grid-column: 8/11;
  grid-row: 3;
}
.Sarchives {
  grid-column: 8/11;
  grid-row: 1;
}
.Sserveur {
  grid-column: 11/14;
  grid-row: 3;
}
.Ssecurite {
  grid-column: 11/14;
  grid-row: 1;
}
.backmodlform {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}
.modelformilaire {
  background-color: white;
  width: 500px;
  max-height: 90vh;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.backmodlzone {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}
.modelzone {
  background-color: white;
  width: 500px;
  max-height: 90vh;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.backmodlperson {
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}

.modelperson {
  background-color: white;
  width: 500px;
  max-height: 90vh;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.line1form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line1form h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.4rem;
  color: rgb(72, 71, 71);
  margin: 0;
}
.fermerformulaire {
  background: none;
  border: none;
  color: grey;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.5s;
}
.fermerformulaire:hover {
  color: red;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  padding-right: 15px;
}

.form::-webkit-scrollbar {
  width: 4px;
}
.form::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.form::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}
.remove-experience {
  padding: 0.3rem;
  background-color: rgb(161, 12, 12);
  color: white;
  border-radius: 2rem;
  font-size: 0.7rem;
  border: 0.1rem solid white;
  cursor: pointer;
  transition: 0.5s;
}
.error-msg{
  display: none;
  color:red;
  font-weight: 600;
  text-align: center;
}
.divform {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.form select,
form input {
  width: 60%;
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form input:focus,
form select:focus {
  border-color: black;
}
.rounde {
  display: flex;
  justify-content: center;
}
.rounde img {
  border-radius: 50%;
  border: 0.1rem gray dashed;
  width: 100px;
}
.ajouterexperience,
.ajouterempzone {
  background: none;
  border: solid white 0.1rem;
  border-radius: 50%;
  color: gray;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.5s;
}
.ajouterexperience,
.ajouterempzone:hover {
  color: rgb(111, 195, 111);
}
.ajoutex {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  gap: 1rem;
}
.ajoutex input {
  width: 90%;
}
.experience {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #0000002c;
  box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.579);
}
.btnformajouterpersonel {
  padding: 0.7rem;
  width: 100%;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0.1rem solid white;
 cursor: pointer;
 transition: 0.5s;
  
}

.btnformajouterpersonel:hover {
  background-color: rgb(111, 195, 111);
  border: 0.1rem solid grey;
}
.btnformmodifierpersonel {
  padding: 0.7rem;
  width: 100%;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  border: 0.1rem solid white;
 cursor: pointer;
 transition: 0.5s;
  
}

.btnformmodifierpersonel:hover {
  background-color: rgb(215, 128, 41);
  border: 0.1rem solid grey;
}






@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .MainArea {
    background-image: url(./workspacemobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .Sreception {
    grid-row: 1/6;
    grid-column: 1/3;
  }
  .Sconfrence {
    grid-row: 1/6;
    grid-column: 3;
  }
  .Spersonnel {
    grid-row: 8/11;
    grid-column: 1;
  }
  .Sarchives {
    grid-row: 8/11;
    grid-column: 3;
  }
  .Sserveur {
    grid-row: 11/14;
    grid-column: 1;
  }
  .Ssecurite {
    grid-row: 11/14;
    grid-column: 3;
  }
}
@media (max-width: 768px) {
  .cantainer {
    display: flex;
    flex-direction: column;
  }

  .MainArea {
    background-image: url(./workspacemobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .Sreception {
    grid-row: 1/6;
    grid-column: 1/3;
  }
  .Sconfrence {
    grid-row: 1/6;
    grid-column: 3;
  }
  .Spersonnel {
    grid-row: 8/11;
    grid-column: 1;
  }
  .Sarchives {
    grid-row: 8/11;
    grid-column: 3;
  }
  .Sserveur {
    grid-row: 11/14;
    grid-column: 1;
  }
  .Ssecurite {
    grid-row: 11/14;
    grid-column: 3;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
}
@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
}
